In [1]:
import pandas as pd

In [2]:
dataset=pd.read_csv("PT_INR_Prothrombin _Introduction _Test _Result_Dataset .csv")

In [3]:
dataset

,Patient ID,Age,Gender,PT Value,INR Value,Health Condition,Treatment Type,Risk Level
0,1,69,Male,18.355144,2.765927,Normal,Vitamin K,Low
1,2,32,Male,10.894440,2.480643,Normal,Anticoagulants,Low
2,3,89,Male,15.985299,2.662863,Normal,Vitamin K,Low
3,4,78,Male,18.171537,2.927404,Normal,Anticoagulants,Low
4,5,38,Female,13.652989,3.195382,Bleeding Disorder,Vitamin K,High
...,...,...,...,...,...,...,...,...
6995,6996,69,Female,16.801529,2.319676,Normal,NaN,Low
6996,6997,23,Male,23.064043,2.153335,Normal,NaN,Low
6997,6998,86,Female,16.917810,2.861205,Normal,Anticoagulants,Low
6998,6999,91,Male,16.872807,2.359891,Normal,Anticoagulants,Low
6999,7000,26,Male,18.434645,2.780392,Bleeding Disorder,Anticoagulants,Moderate

In [4]:
dataset = dataset.drop(columns=['Patient ID','Health Condition','Treatment Type'])

In [5]:
# Perform one-hot encoding with drop_first=True
dataset= pd.get_dummies(dataset, drop_first=True)

In [6]:
# Convert specific columns from True/False to 0/1
columns = ['Gender_Male', 'Risk Level_Low', 'Risk Level_Moderate']
dataset[columns] = dataset[columns].astype(int)

In [7]:
independent = dataset[['Age', 'PT Value', 'INR Value', 'Gender_Male']]
independent

      Age   PT Value  INR Value  Gender_Male
0      69  18.355144   2.765927            1
1      32  10.894440   2.480643            1
2      89  15.985299   2.662863            1
3      78  18.171537   2.927404            1
4      38  13.652989   3.195382            0
...   ...        ...        ...          ...
6995   69  16.801529   2.319676            0
6996   23  23.064043   2.153335            1
6997   86  16.917810   2.861205            0
6998   91  16.872807   2.359891            1
6999   26  18.434645   2.780392            1

[7000 rows x 4 columns]

In [8]:
dependent = dataset[['Risk Level_Low']]
dependent

      Risk Level_Low
0                  1
1                  1
2                  1
3                  1
4                  0
...              ...
6995               1
6996               1
6997               1
6998               1
6999               0

[7000 rows x 1 columns]

In [9]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(independent,dependent,test_size=0.30,random_state=0)

In [10]:
#1.ensemble is a library import file of RandomForestRegressor,2.regressor=randomforestregressor() as procedure,(n_estimator=50,random_state=0,hypertuning parameter),when fit method excited(x_train,y_train)(this all method save in regressor)
from sklearn.ensemble import RandomForestRegressor
regressor=RandomForestRegressor(n_estimators=1000,criterion="friedman_mse",max_samples=None)
regressor=regressor.fit(x_train,y_train)

C:\Users\ragus\anaconda3\envs\AgriYieldAI\Lib\site-packages\sklearn\base.py:1473: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

In [11]:
y_pred=regressor.predict(x_test)

In [12]:
from sklearn.metrics import r2_score
r_score=r2_score(y_test,y_pred)

In [13]:
r_score

0.25604548853544395

In [14]:
import pickle
filename="finalize_random_forest_INR_Prothrombin.sav"
pickle.dump(regressor,open(filename,"wb"))

In [15]:
loaded_model=pickle.load(open("finalize_random_forest_INR_Prothrombin.sav",'rb'))
result=loaded_model.predict([[69, 18.355144, 2.765927, 1]])

C:\Users\ragus\anaconda3\envs\AgriYieldAI\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(

In [16]:
print("Predicted Risk Level: Low",result)

Predicted Risk Level: Low [0.94]